* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA;
  color: #333333;
}

.container {
  max-width: 1280px; /* dizaynga qarab 1200-1280 */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.box {
  background: #006f9e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  color: white;
}

.box-picture img {
  width: 280px;
}

.box-title {
  max-width: 400px;
}

.box-title h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.box-title p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.marked {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marked img {
  width: 120px;
}

.marked p {
  margin-top: 20px;
  color: #d7f3ff;
  cursor: pointer;
}
.fourth {
  padding: 100px 0;
  background: #fff;
}

.box-card {
  text-align: center;
}

.box-card .box-title h1 {
  color: #222;
  font-size: 42px;
  margin-bottom: 15px;
}

.box-card .box-title p {
  color: #666;
  max-width: 600px;
  margin: 0 auto 60px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: calc((100% - 90px) / 4);
  text-align: left;
}

.card img {
  width: 35px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card p {
  color: #666;
  line-height: 1.6;
}

.fifth {
  background: #f7f7f7;
  padding: 100px 0;
}

.box-title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.box-title2 h1 {
  font-size: 42px;
  color: #222;
}

.box-title2 a {
  color: #006f9e;
  text-decoration: none;
  font-size: 14px;
}

.cards2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card2 {
  width: calc((100% - 60px) / 3);
  background: white;
}

.card2 img {
  width: 100%;
  display: block;
}

.card2 p,
.card2 h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.card2 p:first-of-type {
  color: #006f9e;
  font-size: 14px;
  margin-top: 20px;
}

.card2 h3 {
  font-size: 24px;
  margin: 15px 0;
  color: #222;
}

.card2 p:nth-of-type(2) {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card2 p:last-child {
  color: #999;
  font-size: 13px;
  margin-bottom: 20px;
}